
* {
  margin: 0px;
  padding: 0px;
}
#home {
    background-image: url(./images/better.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    background-color: red;
    padding: 50px;
}

.first-text{
    margin-left: 80px;
    margin-top: 200px;
    font-style: normal;
    font-family: georgia;
    font-weight: 80px;
    font-size: 70px;
}

.second-text{
    margin-left: 80px;
    color: cornsilk;
    font-size: 30px;
}

#about{
  background-color: rgb(241, 234, 234);
  height: 700px;
}
.about-image{
  height: 420px;
  width: 100%;
}

#service{
    
}

.first-image{
    width: 100%;
    height: 500px;
}

.wash-image{
  height: 500px;
  width: 500px;
}

.kids-image{
  height: 500px;
  width: 500px;
}

.trans-image{
  height:500px;
  width: 500px;
}
.image{
    width: 100%;
    height: 500px;
}

#contact{
    background-color: cornsilk;
    padding: 50px;
    margin-top: 300px;
   background-color: black; 
}

#signup{
  padding: 50px;
margin-left: 25%;
  height: 400px;
  background-color: aqua;
  border: 5px solid blue;
}

#portfolio{
  height: 700px;
}
.footer{
  background-color:rgb(241, 234, 234) ;
  height: 150px;
}



