.logo {
    height: 50px;
}

.second-card {
    margin-left: 50%px;
}

body  {
    padding-left: 200px;
    padding-right: 200px;
}

.bg-img {
    width: 100%;
    height: 700px;
}

.last-card {
    margin-left: 118px;
}